body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Proyecto{
    width: 90%;
    text-align: center;
    height: 300px;
    font-weight: 700;
    width: 100%;
    backdrop-filter: blur(10px);
    border: 3px solid #fff;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}
.Proyecto10{
    border: white 3px solid;
    width: 90%;
    background-image: url("./Tienda\ Ejemplo.png");
    background-size: cover;
}
.Proyecto20{
    border: white 3px solid;
    width: 90%;
    background-image: url("./Calculadora\ Edad.png");
    background-size: cover;
}
.Proyecto30{
    border: white 3px solid;
    width: 90%;
    background-image: url("./Creador\ Contrasena.png");
    background-size: cover;
}
h2{
    text-align: center;
}
a{
    margin-top: 60px;
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: blue;
}
.footer{
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}